@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.game-heading {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: tomato;
}

.square {
  background-color: tomato;
  color: white;
  font-size: 2rem;
}

.board {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 1px;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
}
