.chat-area {
  width: 302px;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.input-paper {
  padding: 4px 4px;
  display: flex;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  vertical-align: baseline;
}

.chat-box {
  margin-left: 1rem;
  flex: 1;
}

.send-icon {
  padding: 10px;
}

.notification {
  width: 300px !important;
  margin: 0 auto;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  background-color: tomato !important;
  text-align: left;
}

.notification > div {
  box-shadow: none;
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.messages {
  width: 100%;
  height: 95px;
  overflow: scroll;
  text-align: left;
  overflow-x: hidden;
}

.message-text {
  word-break: break-word;
  padding-left: 0.7rem;
}

.messages::-webkit-scrollbar {
  width: 0px;
}
